<p-messages [(value)]="msgs"></p-messages>
<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>AUTORIZAÇÃO PARA PROCEDIMENTOS</h1>
            <div class="ui-g">


                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-md-12 ui-lg-2" style="float: right;">
                        <button pButton type="button" icon="fa-plus" (click)="addAutorizacao()"
                            label="Solicitar Autorizacão"></button>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-12">
                    <p-dataTable [value]="autorizacoes" emptyMessage="Nenhum registro encontrado!">
                        <p-column field="nomeCliente" header="Cliente"></p-column>
                        <p-column field="nomePlano" header="Plano do Cliente"></p-column>
                        <p-column field="nomeProcedimento" header="Procedimento"></p-column>
                        <p-column field="autorizado" header="Autorizado">
                            <ng-template let-row="rowData" pTemplate="body">
                                {{setAutorizado(row.autorizado)}}
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>

            </div>

        </div>
    </div>
</div>
<p-dialog [(visible)]="display" [modal]="true" [responsive]="true"
    [ngClass]="'ui-responsive-dialog ui-sm-responsive-dialog ui-md-responsive-dialog ui-lg-responsive-dialog'"
    [resizable]="false" [focusOnShow]="false" [baseZIndex]="-50" [width]="500" [contentStyle]="{'height':'232px'}"
    [height]="376" [blockScroll]="true">
    <p-header>
        SOLICITAR AUTORIZAÇÃO
    </p-header>


    <form *ngIf="display" [formGroup]="form" novalidate>
        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <div class="ui-g form-group" *ngIf="!visualizar">
                    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-12">
                        <div class="ui-g-12 ui-md-12 ui-sm-12 ui-lg-12 ui-xl-12 espaco-divs">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                                <p-dropdown [style]="{'width':'373px'}" [autoWidth]="false" placeholder="Cliente"
                                    [options]="clientesSelect" [scrollHeight]="'80px'" formControlName="cliente"
                                    [(ngModel)]="autorizacao.cliente.idCliente"></p-dropdown>
                            </div>
                            <span class="md-inputfield">
                                <div *ngIf="isValidado('cliente')" class="ui-message ui-messages-error">
                                    Preenchimento obrigatório
                                </div>
                            </span>
                        </div>


                        <div class="ui-g-12 ui-md-12 ui-sm-12 ui-lg-12 ui-xl-12 espaco-divs">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon"><i class="fa fa-stethoscope"></i></span>
                                <p-dropdown [style]="{'width':'373px'}" [autoWidth]="false" placeholder="Procedimentos"
                                    [options]="procedimentosSelect" [scrollHeight]="'80px'" formControlName="procedimento"
                                    [(ngModel)]="autorizacao.procedimento.id"></p-dropdown>
                            </div>
                            <span class="md-inputfield">
                                <div *ngIf="isValidado('cliente')" class="ui-message ui-messages-error">
                                    Preenchimento obrigatório
                                </div>
                            </span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </form>


    <p-footer>
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-12">
            <button pButton name="cancelar" id="cancelar" icon="fa-close" label="Cancelar"
                class="btnCancelar" (click)="display = false;"></button>
            <button pButton name="salvar" id="salvar" icon="fa-check" label="Solicitar" class="btnNovo"
                (click)="salvar()"></button>
        </div>
    </p-footer>
</p-dialog>

<p-confirmDialog></p-confirmDialog>